.button {
  display: flex;
  justify-content: center;
  padding: 9px 33px;
  border: 0;
  outline: none;
  border-radius: 10px;
  font-size: 19px;
  font-weight: 500;
  background-color: var(--skirret-green);
  color: var(--white);
  cursor: pointer;
  transition: all 0.5s ease;
}