.wrapper {
  padding-top: 48px;
  padding-bottom: 48px;
}

.form__container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 10px;
  background-color: var(--light-theme-bg-primary-default);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.title {
  color: #01000C;
  font-family: 'Montserrat';
  font-size: 38px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.btnSubmit {
  font-family: 'Roboto';
}

